<!DOCTYPE html>
<html ng-app='ttt'>
<head>
  <meta charset='utf-8'/>
  <title> tic tac toe</title>
  <link rel="stylesheet" href="style.css"></link>
</head>
<body>
  <h1> Frank's TicTacToe </h1>
  <p> WELCOME </p>

  <div ng-controller='mainCtrl' class='container'>
    <table border='1'>
    <tr>
    <td ng-click='test1()'> {{input1}} </td>
    <td ng-click='test2()'> {{input2}} </td>
    <td ng-click='test3()'> {{input3}} </td>
    </tr>
    <tr>
    <td ng-click='test4()'> {{input4}} </td>
    <td ng-click='test5()'> {{input5}} </td>
    <td ng-click='test6()'> {{input6}} </td>
    </tr>
    <tr>
    <td ng-click='test7()'> {{input7}} </td>
    <td ng-click='test8()'> {{input8}} </td>
    <td ng-click='test9()'> {{input9}} </td>
    </tr>
    </table>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>